html,
body,
h1,
p {
   padding: 0px;
   margin: 0;
   font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
   /* variables */

   /*    height: 100%;
 */
}
body {
   background: rgb(0, 75, 67);
}
a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}
:root {
   --color1: #feffde;
   --color2: #ddffbc;
   --color3: #91c788;
   --color4: #52734d;
}
