html,
body,
h1,
p {
   padding: 0px;
   margin: 0;
   font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
   /* variables */

   /*    height: 100%;
 */
}
body {
   background: linear-gradient(to top, var(--color2), var(--color1));
}
a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}
:root {
   --color1: #fcecdd;
   --color2: #ffc288;
   --color3: #fea82f;
   --color4: #ff6701;
}
