.container {
   display: flex;
   @media (max-width: 768px) {
      display: block;
      margin: 0px 10px 0px 10px;
   }
}
.left {
   width: 70%;
   @media (max-width: 768px) {
      width: 100%;
   }

   display: flex;
   justify-content: center;
}
/* .left_container { 

} */
.name_input {
   border: none;
   border-bottom: solid 2px rgba(0, 0, 0, 0.8);
   background: transparent;
   font-size: 20px;
   margin-left: 25px;
   padding-left: 5px;
   color: rgba(0, 0, 0, 0.8);
   &:focus {
      outline: none;
   }
   @media (max-width: 768px) {
      margin-top: 25px;
   }
}
.next_game {
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
   @media (max-width: 768px) {
      margin-top: 20px;
   }
}
.next_text {
   font-size: 16px;
}

.lastscore {
   font-size: 15px;
   @media (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 20px;
   }
}
.error {
   text-align: center;
   width: 100%;
   margin-top: 0px;
   margin-bottom: 5px;
   color: rgba(255, 0, 0, 0.7);
}
.error_title {
   margin: 0;
}

.numbers {
   align-content: center;
   gap: 2px;
   padding: 3px;
   background: transparent;
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
}
.input_numbers {
   margin-right: 15px;
   margin-left: 15px;
   font-size: 90px;
   color: var(--color4);
   border-bottom: black solid 5px;
   width: 100px;
   text-align: center;
}

/* Button */
.button {
   padding: 15px;
   background: linear-gradient(to top right, var(--color3), var(--color4));
   color: black;
   font-size: 20px;
   border-radius: 10%;
   transition: all 0.05s;
   border: none;
   width: 60px;
   height: 60px;
   font-weight: bold;
   &:hover {
      background: linear-gradient(to top right, var(--color2), var(--color3));
   }
}

.game_buttons {
   display: grid;
   grid-template-rows: repeat(1, minmax(0, 1fr));
   gap: 2px;
   padding: 3px;
   padding-left: 0px;
}
/* History */
.history_container {
   text-align: center;
   width: 30rem;
   margin-top: 10px;
   @media (max-width: 768px) {
      width: 100%;
      margin-top: 10px;
   }
}
.history {
   display: flex;
   margin-top: 5px;
   width: 30rem;
   justify-content: space-around;
}

.tablecontainer {
   height: 250px;
   overflow: none;
   overflow-y: none;
   scroll-behavior: smooth;
   margin-bottom: 10px;
}
.table {
   min-width: 90%;
   margin-right: auto;
   margin-left: auto;

   tr:nth-child(even) {
      background: var(--color2);
   }
   tr:nth-child(odd) {
      background: var(--color3);
   }

   td {
      text-align: center;
      display: table-cell;
      border: none;
      padding-top: 2px;
      padding-bottom: 2px;
   }
   h1 {
      margin: 0px;
      font-size: 20px;
   }
}

/* Error */

/* Try Count */
.trycount {
   text-align: center;
   width: 100%;
   margin-top: 2px;
   @media (max-width: 768px) {
      margin-top: 15px;
   }
}

/* Modal */
.modal {
   z-index: 100;
   position: absolute;
   background: var(--color4);
   top: 50%;
   left: 50%;
   padding: 25px;
   border-radius: 3%;
   transform: translate(-50%, -50%);
   h1 {
      color: var(--color1);
      font-weight: normal;
   }
   @media (max-width: 768px) {
      width: 90%;
   }
}

.new_game_cont {
   display: flex;
   justify-content: center;
}
.new_game {
   background-color: transparent;
   padding: 5px;
   border: solid 2px var(--color3);
   border-radius: 10%;
   font-weight: normal;
   font-size: 20px;
   color: var(--color1);
   transition: all 1s;

   &:hover {
      background: var(--color3);
      cursor: pointer;
   }
}
.modalbackground {
   z-index: 99;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
}
.numpad {
   display: hidden;
   width: 100%;
   height: 100%;
}
/* Toggla */
.toggle_container {
   margin-top: auto;
   margin-bottom: auto;
}

.switch {
   -webkit-appearance: none;
   appearance: none;
   width: 50px;
   height: 25px;
   background-color: #f1f1f1;
   border: none;
   border-radius: 40px;
   border: none;
   outline: none;
   position: relative;
   transition: 200ms;
}

.switch:checked {
   background-color: rgba(6, 189, 0, 0.733);
   border: none;
}
.switch:before {
   content: "";
   width: 25px;
   height: 25px;
   background-color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   box-shadow: red 2px;
   border-radius: 50%;
   transition: 200ms;
   margin-top: 0.45px;
   box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

.switch:checked:before {
   left: 26px;
}
