.container {
   display: flex;
}
.left {
   width: 70%;
}
.numbers {
   align-content: center;
   width: fit-content;
   gap: 2px;
   padding: 3px;
   background: transparent;
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
}
.input_numbers {
   margin-right: 15px;
   margin-left: 15px;
   font-size: 120px;
   color: red;
   border-bottom: black solid 5px;
   width: 100px;
   text-align: center;
}

/* Button */
.button {
   padding: 15px;
   background: linear-gradient(
      to top right,
      rgb(43, 43, 43),
      rgb(0, 0, 0),
      rgb(43, 43, 43)
   );
   color: white;
   font-size: 45px;
   border-radius: 10%;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 1500ms;
}

.button:hover {
   background: linear-gradient(to top right, rgb(0, 0, 0), rgb(58, 58, 58));
}

/* History */
.history_title {
   text-align: center;
   background: rgb(111, 19, 19);
   width: 30rem;
}
.history {
   display: flex;
   margin-top: 5px;
   width: 30rem;
   background: cyan;
   justify-content: space-around;
}

/* Error */
