.main {
   padding: 0px;
   width: 100%;
}

.header {
   margin: 0px;
   text-align: center;
   font-size: 25px;
   width: 100%;
   color: black;
   padding: 25px;
}
.header_title {
   margin: 0px;
}
.header_content {
   display: flex;
   width: fit-content;
   margin: auto;
   margin-top: 20px;
   justify-content: center;
}
.header_button {
   background: transparent;
   padding: 3px;
   margin-right: 15px;
   border: none;
   font-size: 20px;
   font-weight: normal;
}
.sourcecode {
   display: flex;
}
