.leaderboard {
   width: 50%;
   margin: 0 auto;
   text-align: center;
   margin-top: 20px;
}

/* Rankings */
.rankcontainer {
   display: flex;
   margin: auto;
   margin-top: 10px;
   justify-content: center;
}
.rankings {
   margin: 0em;
   min-width: 300px;
   font-size: large;
   tr {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
   }
   tr:nth-child(even) {
      background: var(--color2);
   }
   tr:nth-child(odd) {
      background: var(--color3);
   }
   th,
   td {
      text-align: center;
      display: table-cell;
      padding: 0.4em 0.5em;
   }
   th {
      margin: 1em 1em;
      padding: 1em 1em;
   }
}
