.rules_page {
   justify-content: center;
   width: 100%;
   display: flex;
   margin-top: 10px;
   font-size: 12px;
   @media (max-width: 768px) {
      display: block;
      margin: 0px 15px 25px 15px;
   }
}

.rules {
   width: 40%;
   margin: 20px 25px 0px 10px;
   @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
   }
   display: flex;
   h2 {
      font-size: 24px;
   }
   span {
      font-weight: bold;
   }
   h1,
   h2 {
      font-weight: normal;
   }
}

/* Example */

.example {
   text-align: center;
   @media (max-width: 768px) {
      width: 100%;
      border-top: solid 2px var(--color3);
   }
}
.random {
   color: var(--color4);
   font-weight: bold;
   font-size: 25px;
   letter-spacing: 0px;
}
.tablecontainer {
   display: flex;
   justify-content: center;
}
.table {
   min-width: 300px;
   font-size: 24px;

   tr {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
   }
   tr:nth-child(even) {
      background: var(--color2);
   }
   tr:nth-child(odd) {
      background: var(--color3);
   }

   th,
   td {
      text-align: center;
      display: table-cell;
      padding: 0.4em 0.5em;
   }
   th {
      margin: 1em 1em;
   }
}
.trueplace {
   border-bottom: solid 2px rgb(0, 190, 0);
}

.wrongplace {
   border-bottom: solid 2px red;
}
